<% if @list.persisted? %>
  <div>
    <%= link_to "Lists Collaborators", list_users_path(@list) %>
  </div>
<% end %>
<br/>

<%= form_for @list do |f| %>
  <div class="list-name">
    <%= f.label :list_name %>
    <%= f.text_field :name, required: true %>
  </div>

  <br/>

  <%= f.fields_for :items do |item| %>
    <div class="list-item">
      <span class="checked">
        <%= item.check_box :checked %>
      </span>
      <span class="name">
        <%= item.text_field :name %>
      </span>
    </div>
  <% end %>

  <br/>
  
  <div class="list-submit">
    <%= f.submit %>
  </div>
<% end %>

<br/>

<% if @list.persisted? %>
  <%= link_to "Delete #{@list.name} List", @list, method: :delete, data: {
    confirm: "Are you sure you want to delete the #{@list.name} list?"
  } %>
<% end %>
