<% if @list.errors.present? %>
  <% @list.errors.full_messages.each do |message| %>
    <div class="bg-red pa2 ma2">
      <%= message %>
    </div>
  <% end %>
<% end %>

<% if @list.persisted? %>
  <div class="pa2 ma2">
    <%= link_to "Lists Collaborators", list_users_path(@list) %>
  </div>
<% end %>

<% if @list.shared?(with: @user) %>
  <div class="pa2 ma2">
    <%= @list.owner.name %> shared this list with you with the following message:
    <br>
    <%= @list.share_message_for(@user) %>
  </div>
<% end %>

<%= form_for @list do |f| %>
  <div class="list-name pa2 ma2">
    <%= f.label :name, "List name" %>
    <%= f.text_field :name, required: true %>
  </div>

  <%= f.fields_for :items, @items do |item| %>
    <div class="list-item ph2 mh2 pv1 mv1">
      <span class="checked">
        <%= item.check_box :checked %>
      </span>
      <span class="name">
        <%= item.text_field :name %>
      </span>
    </div>
  <% end %>
  
  <div class="list-submit pa2 ma2">
    <%= f.submit %>
  </div>
<% end %>

<% if @list.persisted? %>
  <div class="pa2 ma2">
    <%= link_to "Delete #{@list.name} List", @list, method: :delete, data: {
      confirm: "Are you sure you want to delete the #{@list.name} list?"
    } %>
  </div>
<% end %>
