<!DOCTYPE html>
<html>
  <head>
    <title>SharedToDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        Shared To Do
      </h1>
      <nav>
        <% if @logged_in %>
          <%= link_to "Log Out", sessions_path, method: :delete %>
          <%= link_to "Lists", lists_path %>
          <%= link_to 'Account Settings', edit_user_path(@user) %>
        <% else %>
          <%= link_to "Log In", new_sessions_path %>
          <%= link_to "Sign Up", new_user_path %>
        <% end %>
      </nav>
      <br>
    </header>
    <%= yield %>
  </body>
</html>
