<!DOCTYPE html>
<html>
  <head>
    <title>SharedToDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"/>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
  </head>

  <body class="bg-black-05">
    <header class="pa2 ma2">
      <h1>
        Shared To Do
      </h1>
      <nav>
        <% if @logged_in %>
          <%= link_to "Lists", lists_path %>
          &nbsp;
          <%= link_to "Account", user_path(@user) %>
          &nbsp;
          <%= link_to "Log Out", sessions_path, method: :delete %>
        <% else %>
          <%= link_to "Log In", new_sessions_path %>
          &nbsp;
          <%= link_to "Sign Up", new_user_path %>
        <% end %>
      </nav>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>
