<!DOCTYPE html>
<html>
  <head>
    <title>SharedToDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if @user %>
          <%= link_to "Log Out", sessions_path, method: :delete %>
        <% else %>
          <%= link_to "Log In", new_sessions_path %>
        <% end %>
      </nav>
      <br>
    </header>
    <%= yield %>
  </body>
</html>
