<!DOCTYPE html>
<html>
  <head>
    <title>SharedToDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"/>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
  </head>

  <body class="bg-black-05">
    <header class="pa2 shadow-2 bg-white flex items-baseline flex-column flex-row-ns">
      <h1 class="pa2 ma2">
        Shared To Do
      </h1>

      <% nav_item_styles = "white-space: nowrap; display: inline-block;"%>
      <% nav_item_classes = "pa2 black hover-bg-black-20 no-underline br2 inline-block" %>
      <nav class="ma1 pa1">
        <% if @logged_in %>

          <%= link_to "Lists", lists_path, class: nav_item_classes, style: nav_item_styles %>

          <%= link_to "Account", user_path(@user), class: nav_item_classes, style: nav_item_styles %>

          <%= link_to "Log Out", sessions_path, method: :delete, class: nav_item_classes, style: nav_item_styles %>

        <% else %>
          <%= link_to "Log In", new_sessions_path, class: nav_item_classes, style: nav_item_styles %>

          <%= link_to "Sign Up", new_user_path, class: nav_item_classes, style: nav_item_styles %>

        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
